.Left {
}
.Right {
  width: 18vw;
  height: 73vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.third {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16vw;
  height: 68vh;
  background-color: #b8b8b8;
  border-radius: 25px;
}

.btn-bgcolor {
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 15px;
  letter-spacing: -0.5px;
  font-size: 16px;
  font-weight: 500;
}
